<!-- sidebar.html -->
<div class="sidebar">
    <img src="/static/img/logoReyMaestro3.png" alt="Logo" class="logo">
    <a href="{% url 'student_dashboard' %}" class="nav-link active"><i class="fa fa-home"></i> Inicio</a>
    <a href="rutas" class="nav-link"><i class="fa fa-map"></i> Mis rutas</a>
    <a href="progreso" class="nav-link"><i class="fa fa-chart-line"></i> Mi progreso</a>
    <a href="tablero" class="nav-link"><i class="fa fa-chart-line"></i> Mi Tablero</a>
    <a href="chat" class="nav-link"><i class="fa fa-robot"></i> Chat ADA</a>
    <a href="notificaciones" class="nav-link"><i class="fa fa-bell"></i> Notificaciones</a>
</div>