<nav class="flex items-center justify-between bg-gray-800 p-4 text-white shadow-lg">
    <div class="flex items-center space-x-4">
        <button id="menu-toggle" class="text-2xl focus:outline-none">
            <i class="bi bi-list"></i>
        </button>
        <h1 class="text-xl font-bold">Admin Panel</h1>
    </div>

    <div class="flex items-center space-x-6">
        <i class="bi bi-bell-fill text-xl cursor-pointer hover:text-yellow-400"></i>
        <i class="bi bi-envelope-fill text-xl cursor-pointer hover:text-yellow-400"></i>

        <div class="relative cursor-pointer" id="profile-menu-toggle">
            <div class="flex items-center space-x-2">
              {% if imgPerfil %}
              <img src="{{ imgPerfil.url }}"
              alt="Perfil" class="w-10 h-10 rounded-full border-2 border-yellow-400">
              {% else %}
              <img src="" alt="Default Profile Picture" class="w-10 h-10 rounded-full border-2 border-yellow-400">
              {% endif %}                  
                <span>Bienvenido {{ usuario }}</span>
            </div>

            <div id="profile-menu" class="absolute right-0 mt-2 w-48 bg-white text-gray-700 rounded-xl shadow-xl hidden z-10">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Configuración de cuenta</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Editar perfil</a>
                <a href="/logout/" class="block px-4 py-2 text-red-600 hover:bg-gray-100">Cerrar sesión</a>
            </div>
        </div>
    </div>
</nav>