<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">REY MAESTRO</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Inicio</a></li>          
          <li><a href="#services">Servicios</a></li>          
          <li><a href="#pricing">Precios</a></li>          
          <li class="dropdown"><a href="#"><span>Comunidad</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Eventos</a></li>
              <li class="dropdown"><a href="#"><span>Sobre nosotros</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Nuestra historia</a></li>
                  <li><a href="#">COMUNIDAD</a></li>
                  <li><a href="#">Nuestros cursos</a></li>
                  
                </ul>
              </li>
              <li><a href="#">Blogs</a></li>
              
            </ul>
          </li>          
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="cta-btn" style="background-color: #0084c8;" href="/registro/">Registrate</a>
      
      <a class="navbar-toggler cta-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">Inicia sesión</a>

      <!--menu login-->
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Inicio de sesión</h5>
          <h5><i style="color: yellow; margin-left: 10px;" class="bi bi-trophy"></i></h5>
          
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">          
          <form >
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <label for="inputPassword5" class="form-label">Password</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">            
            <div id="passwordHelpBlock" class="form-text" style="color: #eee;">
              La contraseña debe de tener entre 8 y 20 caracteres, no uses emojis
            </div>
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
<!--Fin menu login-->

    </div>
  </header>